apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    kompose.cmd: kompose convert -c
    kompose.version: 1.37.0 (HEAD)
  labels:
    io.kompose.service: redis
  name: redis
spec:
  replicas: 1
  selector:
    matchLabels:
      io.kompose.service: redis
  strategy:
    type: Recreate
  template:
    metadata:
      annotations:
        kompose.cmd: kompose convert -c
        kompose.version: 1.37.0 (HEAD)
      labels:
        io.kompose.service: redis
    spec:
      containers:
        - args:
            - valkey-server
            - --save
            - "30"
            - "1"
            - --loglevel
            - warning
          image: docker.io/valkey/valkey:8-alpine
          name: redis
          volumeMounts:
            - mountPath: /data
              name: valkey-data2
      restartPolicy: Always
      volumes:
        - name: valkey-data2
          persistentVolumeClaim:
            claimName: valkey-data2
